using System;
using System.Collections.Generic;
using System.ComponentModel;
using System.Data;
using System.Drawing;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using System.Windows.Forms;
using System.Data.SQLite;

namespace cfc
{
    public partial class Form3 : Form
    {
        SQLiteConnection sqliteConnection;

        public Form3()
        {
            InitializeComponent();

        }

        private  void Form3_Load(object sender, EventArgs e)
        {
            string connetionString = (@"Data Source=D:\123\VSCS\cfc\cfc\bin\Debug\x64\Kyrs.db;Version=3;New=True;Compress=True;");
            sqliteConnection = new SQLiteConnection (connetionString);
            sqliteConnection.Open();

            SQLiteDataReader sqliteReader = null;
            SQLiteCommand command = new SQLiteCommand(@"SELECT * FROM [Cars]", sqliteConnection);

            try 
            {
                sqliteReader = command.ExecuteReader();

                while (sqliteReader.Read())
                {
                    listBox1.Items.Add(Convert.ToString(sqliteReader["Cars"]) + " " + Convert.ToString(sqliteReader["Marks"]) + " " + Convert.ToString(sqliteReader["Type_cars"]));
                }
            }
            catch(Exception ex)
            {
                MessageBox.Show(ex.Message.ToString(), ex.Source.ToString(), MessageBoxButtons.OK, MessageBoxIcon.Error);
            }
            finally
            {
                if (sqliteReader != null)
                    sqliteReader.Close();

                
            }
        }

        private void вихідToolStripMenuItem_Click(object sender, EventArgs e)
        {
            if (sqliteConnection != null && sqliteConnection.State != ConnectionState.Closed)
                sqliteConnection.Close();
        }

        private void Form3_FormClosing(object sender, FormClosingEventArgs e)
        {
            if (sqliteConnection != null && sqliteConnection.State != ConnectionState.Closed)
                sqliteConnection.Close();
        }

       
    }
}

